.section{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

.main-heading{
  color: rgb(204, 18, 18);
  font-size: 25px;
}

.underline{
  height: 04px;
  width: 8rem;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
}

.section2{
  background-color: rgb(195, 195, 255);
  
}

.section3{
  background-color: rgb(247, 247, 247);
}